
data/raw/*.laz
data/raw/*.las
data/raw/*.LAZ
data/raw/*.LAS
data/processed/*.laz
data/processed/*.las
data/processed/*.tif
data/processed/*.tiff
data/processed/*.img
data/processed/*.asc
data/processed/*.vrt

!data/raw/.gitkeep
!data/processed/.gitkeep

*.qgz
*.qgs~
*.qgd


.qgisproject.lock

!qgis/*.model3

outputs/*.tif
outputs/*.tiff
outputs/*.png
outputs/*.jpg
outputs/*.jpeg
outputs/*.pdf

!outputs/.gitkeep

__pycache__/
*.py[cod]
*$py.class
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/

env/
venv/
.venv/
ENV/


.ipynb_checkpoints/


pkgs/

*~

.vscode/

